@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>

        Projeto DS - Ana e Giovana

        <abbr title="Escola Tecnica estadual no bairro da vila leopoldina em SP">ETEC </abbr>Basilides de Godoy

    </address>
</main>